.divContainer{
    background-image: url("./../../public/Barbie.jpeg");
    background-position: center;
    background-size: cover;       
    position: relative;
    background-repeat: repeat;
}

button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: pink;
    border-radius: 1em;
    padding: 1em;
    border: 7px solid rgb(214, 30, 92);
}

.side{
    background-color: rgb(214, 30, 92);
    color: white;
}

.sideLeft{
background-color:rgb(253, 215, 222);
color:rgb(214, 30, 92) ;
}

.result{
    color: rgb(94, 92, 92);
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 4em;
}